.fly-modal-overlay {
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}
.fly-modal-dialog {
	position: relative;
	margin: 50px auto;
	background-color: white;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 478px;/* 这里加宽度 ,高度自适应 可不加*/
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	z-index: 99999;
}
.fly-modal-header {
	padding: 15px 5px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.fly-modal-title{
	font-size: 26px;
}
.fly-modal-body {
	position: relative;
	padding: 15px;
}
.fly-modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}